*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
cloudflare-worker/.dev.vars
cloudflare-worker/.env
cloudflare-worker/node_modules/
cloudflare-worker/.wrangler/
.history/
**/bin/
